@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@300;600&display=swap');

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* color schemes */

:root {
	/* original */

	/* --body-color-start: #61d954; */
	/* --body-color-end: #2ebf75; */
	/* --main-bg-color: #202020; */
	/* --input-form-color: #e5e5e5; */
	/* --input-btn-color: #e5e5e5; */
	/* --txt-title-color: #ffffff; */
	/* --txt-data-color: #e5e5e5; */
	/* --border-title-color: #2ebf75; */
	/* --border-form-color: #eb3461; */

	/* swift kiss */

	/* --body-color-start: #333333; */
	/* --body-color-end: #202020; */
	/* --main-bg-color: #EF3E4A; */
	/* --input-form-color: #FEDAC2; */
	/* --input-btn-color: #FEDAC2; */
	/* --txt-title-color: #B0D8DC; */
	/* --txt-data-color: #FEDAC2; */
	/* --border-title-color: #B0D8DC; */
	/* --border-form-color: #FEDAC2; */

	/* chivalrous fox */

	--body-color-start: #333333;
	--body-color-end: #202020;
	--main-bg-color: #B6CAC0;
	--input-form-color: #C02A1B;
	--input-btn-color: #C02A1B;
	--txt-title-color: #C02A1B;
	--txt-data-color: #C02A1B;
	--border-title-color: #C02A1B;
	--border-form-color: #C02A1B;

	/* cruller intentions */

	/* --body-color-start: #333333; */
	/* --body-color-end: #202020; */
	/* --main-bg-color: #FDF06F; */
	/* --input-form-color: #D31B33; */
	/* --input-btn-color: #D31B33; */
	/* --txt-title-color: #D31B33; */
	/* --txt-data-color: #D31B33; */
	/* --border-title-color: #D31B33; */
	/* --border-form-color: #D31B33; */
}

body {
  height: 100vh;
  background: linear-gradient(
    135deg,
		var(--body-color-start),
		var(--body-color-end)
    );
}

p {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--txt-data-color);
  display: flex;
  align-items: left;
  justify-content: left;
}

#main {
  background-color: var(--main-bg-color);
  height: 450px;
  width: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  box-shadow: 0 20px 25px rgba(0,0,0,0.35);
}

#title {
  margin-top: 35px;
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--border-title-color);
}

#title > h1 {
  /* font-family: "Poppins",sans-serif; */
  font-family: "DM Sans",sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: var(--txt-title-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* user name */
#input-form-user {
  position: absolute;
  top: 130px;
  left: 58px;
}

#add-user {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--input-form-color);
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--border-form-color);
  outline: none;
  padding-left: 5px;
}

/* add new note */
#input-form-add {
  position: absolute;
  top: 220px;
  left: 58px;
}

#add-notes {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--input-form-color);
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--border-form-color);
  outline: none;
  padding-left: 5px;
}

/* show all notes */
#input-form-show {
  position: absolute;
  top: 395px;
  left: 58px;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--input-form-color);
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
}

/* display notes data */
#notes-data {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 25px;
  padding-bottom: 28.5px;
  border-bottom: 2px solid var(--border-title-color);
}

/* search notes */
#input-form-get {
  position: absolute;
  top: 310px;
  left: 58px;
}

#get-notes {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--input-form-color);
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid var(--border-form-color);
  outline: none;
  padding-left: 5px;
}

/* back home btn */
#home {
  position: absolute;
  top: 495px;
  left: 190px;
  /* top: 395px; */
  left: 558px;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--input-btn-color);
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
}


/* all buttons */
.btn-notes-all,
.btn-home,
.send {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: var(--input-btn-color);
  letter-spacing: 0.5px;
  background-color: transparent;
  border: none;
  padding: 20px 5px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: default;
  outline: none;
}

