<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  <!-- stylesheet -->
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <div id="main">
    <!-- welcome -->
    <div id="title">
      <h1 id="greetings">Welcome !</h1>
    </div>

    <!-- login -->
    <form id="input-form-user">
      <input type="text" id="add-user" name="uname">
      <input type="submit" value="username" class="send" id="create-user">
    </form>

    <!-- write new note -->
    <form action="/write" method="get" id="input-form-add">
      <input type="text" id="add-notes" name="write">
      <input type="submit" value="add note" class="send">
    </form>

    <!-- search notes -->
    <form action="/search" method="get" id="input-form-get">
      <input type="text" id="get-notes" name="notes">
      <input type="submit" value="search notes" class="send">
    </form>

    <!-- show all notes -->
    <form action="/notes" method="get" id="input-form-show">
      <input type="submit" value="show all notes &#x27f6;" class="send">
    </form>
  </div>
  <!-- scripts -->
  <script src="static/script.js"></script>
</body>

</html>
