<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>...TODO...</title>
	<!-- stylesheet -->
	<link rel="stylesheet" href="static/style.css">
</head>

<body>
	<div id="main">
		<!-- notes -->
		<div id="title">
			<h1 id="notes-title">My Notes</h1>
		</div>

		<!-- load data -->
		<div id="notes-data">
			$$DATA$$
		</div>

		<!-- back home btn -->
		<form action="/" method="get" id="input-form-show">
			<input type="submit" value="&#x27f5; back home" class="home">
		</form>

		<!-- analog clock -->
		<div class="clock">
			<div class="hour hand" id="hour"></div>
			<div class="minute hand" id="minute"></div>
			<div class="seconds hand" id="seconds"></div>
			<img src="static/template.svg" alt="clock">
		</div>
	</div>
	<!-- scripts -->
	<script src="static/script.js"></script>
</body>

</html>
